<%- include("../common/header") %>
<link rel="stylesheet" href="/node_modules/mditor/dist/css/mditor.min.css" />
<script src="/node_modules/mditor/dist/js/mditor.js"></script>

<div class="container">
    <h1>发表文章页</h1>
    <hr>
    <form id="form">
    <div class="form-group">
        <label>文章标题：</label>
        <input type="text" name="title" class="form-control" required>
    </div>

    <div class="form-group">
        <label>文章内容：</label>
        <textarea name="content" class="form-control" id="editor"></textarea>
    </div>

    <div class="form-group">
        <input type="submit" value="发表文章" class="btn btn-primary" id='art_submit'>
    </div>
    </form>
</div>

<%- include("../common/footer") %>

<script>
    var mditor =  Mditor.fromTextarea(document.getElementById('editor'));
    //获取或设置编辑器的值
    mditor.on('ready',function(){
    mditor.value = '** hello **';	
    });
    $("#art_submit").on('click',()=>{
        $.ajax({
            type:"post",
            url:'',
            data:$("#form").serialize(),
            success:(res) => {
                if(res.status == 200) {
                    location.href = ""
                }
            }
        })
        return false
    })
</script>


