<div class="text-center text-muted">
        github © <a href="https://github.com/YoursOwen">https://github.com/YoursOwen</a> @
      </div>
  </body>
  </html>

  <script>
      $(function(){
          $(".btn-danger").on("click",function(){
             $.ajax({
                 type:"post",
                 url:"",
                 data:{},
                 
             })
          })
      })
  </script>